<!DOCTYPE html>

<html>
    <head>
        <title>About us</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
         <div class="main-content">
            {{>header}}
            <p>This site uses data from geocode and darksky for weather information</p>
            <img class="potrait" src="/img/Robot.jpg">
        </div>
        {{>footer}}
    </body>
</html>